VITE_APP_NAME="Gundam Store VN"
VITE_DEMO_MODE=true
VITE_ZALO_URL=https://zalo.me/0379864870
VITE_MESSENGER_URL=https://www.facebook.com/tri.nguyen.nam.minh
VITE_ZALO_LOGO=https://upload.wikimedia.org/wikipedia/commons/9/91/Icon_of_Zalo.svg
VITE_MESSENGER_LOGO=https://upload.wikimedia.org/wikipedia/commons/b/be/Facebook_Messenger_logo_2020.svg
VITE_BASE_URL=http://localhost:4800/api
#VITE_BASE_URL=https://expert-giggle-5g4q5vp5xx9wcvjjj-4800.app.github.dev/api #online
VITE_GOOGLE_MAP=AIzaSyBEUn-GmgDE18IJhlWn76_LdZuPkF9aQV8
VITE_APP_SAPO_STOREFRONT_ENDPOINT=/sapo-admin-api/admin/products.json
VITE_APP_SAPO_STOREFRONT_TOKEN=72f5bf315ae14885bfd24f4fe2ba4e3f